<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sworker-heading">Add or Modify a Sxx Worker</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sworker.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" formControlName="name" />
                    <div
                        *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('name').errors.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nationality">Nationality</label>
                    <input type="text" class="form-control" name="nationality" id="field_nationality"
                        formControlName="nationality" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_birthDate">Birth Date</label>
                    <div class="input-group">
                        <input id="field_birthDate" type="text" class="form-control" name="birthDate" ngbDatepicker
                            #birthDateDp="ngbDatepicker" formControlName="birthDate" />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()">
                                <fa-icon [icon]="'calendar-alt'"></fa-icon>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_height">Height (cm)</label>
                    <input type="number" class="form-control" name="height" id="field_height"
                        formControlName="height" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hairColor">Hair Color</label>
                    <select class="form-control" id="field_hairColor" name="hairColor" formControlName="hairColor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="hairColorOption.key" *ngFor="let hairColorOption of hairColors;">{{hairColorOption.value}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_eyeColor">Eye Color</label>
                    <select class="form-control" id="field_eyeColor" name="eyeColor" formControlName="eyeColor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="eyeColorOption.key" *ngFor="let eyeColorOption of eyeColors;">{{eyeColorOption.value}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ethnicity">Ethnicity</label>
                    <select class="form-control" id="field_ethnicity" name="ethnicity" formControlName="ethnicity">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ethnicityOption.key" *ngFor="let ethnicityOption of ethnicities;">{{ethnicityOption.value}}</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>